.style-table{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: monospace;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 100px;
}

.style-table thead tr{
    background-color: #327f87;
    color: #ffffff;
    text-align: left;
}

.style-table th{
    text-align: center;
}

.style-table th,.style-table td{
    padding: 12px 20px;
}

.style-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.style-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.style-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.btn{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn-edit{
    background-color: yellow;
}

.btn-delete{
    background-color: #f44336;
}

.btn-view{
    background-color: #96e9db;
}